; {{ ansible_managed }}
; Git-managed authoritative zone for internal services. Node hostnames remain
; exclusively under Headscale MagicDNS ({{ substrate_tailnet_domain }}).
$ORIGIN {{ substrate_service_domain }}.
$TTL {{ resolver_service_zone_ttl }}
@ IN SOA ns hostmaster 1 3600 600 604800 {{ resolver_service_zone_ttl }}
@ IN NS ns
ns IN A {{ resolver_zone_address }}
{% for record in resolver_service_records | sort(attribute='name') %}
{{ record.name }} {{ record.ttl | default(resolver_service_zone_ttl) }} IN {{ record.type | upper }} {{ record.value }}
{% endfor %}
